@font-face {
    font-family: 'YouSheBiaoTiHei';
    src: url(./YouSheBiaoTiHei.ttf);
}
@font-face {
    font-family: 'PingFang SC';
    src: url(./PingFang\ SC.ttf);
}
@font-face {
    font-family: 'PingFang SC Medium';
    src: url(./PingFang\ SC\ Medium.ttf);
}